.button {
  font-size: var(--font-size-25);
  padding: 0.4rem 1.5rem;
  border-radius: 15px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  text-transform: uppercase;
}

.button:hover {
  transition: 0.3s;
  background-color: rgba(44, 25, 129, 1);
}

.button:active {
  transition: 0.3s;
  background-color: rgba(44, 25, 129, 0.5);
}

.button:disabled {
  transition: 0.3s;
  background-color: rgba(167, 167, 167, 0.5);
  color: rgb(78, 78, 78, 0.7);
  border: 2px solid rgb(78, 78, 78, 0.7);
}
