.form_wrapper_radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
  justify-content: center;
}

.text_label {
  font-size: 25px;
  color: #482c14;
  margin-bottom: 3px;
}

.question_number {
  font-size: 25px;
  color: #482c14;
  margin-bottom: 3px;
}

.questions_wrapper {
  display: flex;
  flex-direction: column;
}

.question_wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0.5rem;
}

.text_radio {
  border: 1px solid #ccc;
  border-radius: 15px;
  border: 2px solid #482c14;
  padding: 0.5rem 1rem;
  /* width: 100%; */
  /* margin: 0.5rem 0 1rem; */
  /* margin-top: 5px; */
  height: 0px;
  /* width: 15rem; */
  font-size: 20px;
}

label {
  color: #000;
  font-size: 1.5em;
  margin-left: 10px;
  /* padding-bottom: 15px; */
}

.start_btn_test {
  background-color: #00b07f;
  color: #ffffff;
  border-radius: 20px;
  height: 50px;
  font-size: 1.5em;
  padding: 10px;
  border-style: none;
  margin-top: 20px;
  cursor: pointer;
}