.strike_img {
    width: 30px;
}

.skill_title {
    text-align: left;
    padding-left: 15px;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.upgrade_link {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.1em;
  }
  