.test_page_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #EAF3D7;
}

.test_name {
  margin-top: 0;
  padding-top: 50px;
  font-size: 3em;
  font-weight: 500;
}

.question_num {
  font-size: 2em;
  font-weight: 500;
}

.question_body {
  font-size: 1.8em;
  font-weight: 400;
}

.toMain_btn {
  background-color: #C1CB68;
  margin-top: 10px;
  border-radius: 15px;
  width: fit-content;
  height: 50px;
  padding: 0.5rem;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
}