.reg2_page_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #fcfadd;
}

.reg2_title,
.alga {
  color: #482c14;
  font-weight: 500;
  font-size: 5vw;
  cursor: default;
}

.alga {
  color: #482c14;
  text-decoration: underline;
}

.alga:visited {
  color: #482c14;
}
