.reg_page_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #FCFADD;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.reg_pic_container {
  position: absolute;
  margin-left: 10%;
  left: 0;
  height: 90%;
}

.reg_pic {
  width: 35vw;
  margin-top: 10%;
  /* height: 100vh; */
}

.start_title {
  text-align: right;
  color: #481D14;
  font-size: 4vw;
  /* line-height: 10vh; */
  font-weight: 500;
}

.reg_btn_container {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* gap: 15vh; */
  margin-right: 10%;
  align-items: flex-end;
}

.reg_start_btn {
  background-color: #00B07F;
  border-radius: 10px;
  color: #fff;
  border: none;
  width: 12vw;
  height: 50px;
  font-size: 2vw;
  cursor: pointer;
  margin-right: 15vw;
  margin-top: 20%;
}

.already_reg {
  background-color: #FCFADD;
  border-radius: 10px;
  color: #000;
  border: 3px solid;
  width: 20vw;
  height: 50px;
  font-size: 2vw;
  cursor: pointer;
  margin-right: 11vw;
  margin-top: 40px;
}