.reg2_page_wrapper {
    width: 100%;
    /* height: 100vh; */
  width: 100%;
  height: 100vh;
  background-color: #fcfadd;
}

.reg2_title, .alga_txt {
    color: #482C14;
    font-weight: 500;
    font-size: 5vw;
    margin-top: 0;
}

.alga_txt {
  color: #482c14;
  text-decoration: underline;
}

.alga_btn {
    background-color: #C1CB68;
    color: #fff;
    border-radius: 20px;
    border: none;
    width: 15vw;
    height: 20%;
    font-size: 2.5em;
    cursor: pointer;
    font-weight: 500;
}
