.shoppage_wrapper {
  width: 100%;
  height: 120vh;
  background-color: #EAF3D7;
  display: flex;
  flex-direction: row;
}

.shop_menu {
  background-color: #fff;
  border-radius: 20px;
  height: 80vh;
  margin-top: 10vh;
  width: 18vw;
}

.balance_title, .balance_counter {
  font-size: 2em;
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
}

.price {
  font-size: 1.5em;
}

.my_skins_link, .my_skins_link:visited {
  color: #00B07F;
  text-decoration: underline;
  text-align: left;
  font-size: 1.5em;
}

.filter_title {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 10px;
}

.filter_link, .filter_link:visited{
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;
  margin-top: 15px;
}

.shop_confirm_btn {
  background-color: #00B07F;
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.shop_skins {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-evenly;
}

.price_pic {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.skin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.skin_img {
  height: 70vh;
}

.echpochmack_counter_shop, .echpochmack_price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
}

.menu_filter {
  display: flex;
  flex-direction: column;
}

.buy_btn {
  background-color: #00B07F;
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}