.reg_page_wrapper {
  width: 100%;
  height: 100vh;
}

.page_title {
  font-size: 60px;
  color: #482C14;
  font-weight: 500;
  margin-bottom: 10vh;
}

.empty {
  height: 20vh;
}

.green_enter_btn {
  background-color: #C1CB68;
  border-radius: 15px;
  border: none;
  width: fit-content;
  font-size: 2em;
  padding: 5px 15px;
}
